# Python
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Flask instance folder
instance/

# Flask configuration files
*.venv
*.flaskenv

# Pytest
.pytest_cache/

# IDEs and editors
.vscode/
.idea/

# MacOS
.DS_Store

# Linux
*~
